{% trans_default_domain 'ibexamailing' %}

{% set statusKey = "generic.mailing_statuses."~status %}

<div>
    <div class="ibexa-tabs">
        <ul class="nav nav-tabs ibexa-tabs__list ibexa-adaptive-items" role="tablist">
            {% if status != 'all' %}
                <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item ibexa-tabs__tab--active"
                    role="presentation">
                    <a class="nav-link ibexa-tabs__link active" href="#ibexamailing-mailings-status-preview"
                       data-bs-toggle="tab"
                       role="tab">
                        <img src="{{ asset("/bundles/ibexamailing/admin/images/16x16/"~status~".png") }}"
                             class="mailing-icon"/> {{ statusKey|trans|capitalize ~ " " ~ "campaign.tabs.mailings"|trans }}
                    </a>
                    <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="ibexa-svg-tab-corner-border"
                              d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                              stroke-width="2"></path>
                        <path class="ibexa-svg-tab-corner-inside"
                              d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                    </svg>
                </li>
            {% endif %}
            <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item{% if status == 'all' %} ibexa-tabs__tab--active{% endif %}"
                role="presentation">
                <a class="nav-link ibexa-tabs__link{% if status == 'all' %} active{% endif %}"
                   href="#ibexamailing-campaign-preview"
                   data-bs-toggle="tab" role="tab">{{ "campaign.tabs.campaign"|trans }}</a>
                <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path class="ibexa-svg-tab-corner-border"
                          d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                          stroke-width="2"></path>
                    <path class="ibexa-svg-tab-corner-inside"
                          d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                </svg>
            </li>
            {% if item.locationId is not null %}
                <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                    <a class="nav-link ibexa-tabs__link" href="#ibexamailing-content-preview" data-bs-toggle="tab"
                       role="tab">{{ "campaign.tabs.associated_content"|trans }}</a>
                    <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="ibexa-svg-tab-corner-border"
                              d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                              stroke-width="2"></path>
                        <path class="ibexa-svg-tab-corner-inside"
                              d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                    </svg>
                </li>
            {% endif %}
            {% if item.mailings|length > 0 %}
                <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                    <a class="nav-link ibexa-tabs__link" href="#ibexamailing-mailings-preview" data-bs-toggle="tab"
                       role="tab">{{ "common.list.users_filterer.all"|trans ~ " " ~ "campaign.tabs.mailings"|trans }}</a>
                    <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="ibexa-svg-tab-corner-border"
                              d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                              stroke-width="2"></path>
                        <path class="ibexa-svg-tab-corner-inside"
                              d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                    </svg>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content ibexa-tab-content">
        {% if status != 'all' %}
            <div class="ibexamailing-ez-mailings-view tab-pane active p-3" role="tabpanel"
                 id="ibexamailing-mailings-status-preview">
                {% if children|length > 0 %}
                    {% include "@IbexaMailing/admin/common/list/mailings.html.twig" with { items: children} only %}
                {% else %}
                    <p>{{ "generic.no_status_mailings"|trans }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="ibexamailing-ez-campaign-view tab-pane{% if status == 'all' %} active{% endif %} p-3"
             role="tabpanel"
             id="ibexamailing-campaign-preview">
            {% include "@IbexaMailing/admin/campaign/details.html.twig" with { item: item} only %}
        </div>
        {% if item.locationId is not null %}
            <div class="ibexamailing-ez-content-view tab-pane p-3" role="tabpanel" id="ibexamailing-content-preview">
                {{ preview|raw }}
            </div>
        {% endif %}
        {% if item.mailings|length > 0 %}
            <div class="ibexamailing-ez-mailings-view tab-pane p-3" role="tabpanel"
                 id="ibexamailing-mailings-preview">
                {% include "@IbexaMailing/admin/common/list/mailings.html.twig" with { items: item.mailings} only %}
            </div>
        {% endif %}
    </div>

    {% if status == 'all' %}
        <div class="ibexamailing-button-actions float-right">
            <a class="btn btn-sm ibexa-btn ibexa-btn--secondary" href="{{ path('ibexamailing_mailing_create', {campaign: item.id}) }}">
                <span>{{ "campaign.tabs.create"|trans }}</span>
            </a>
            <a class="btn btn-sm ibexa-btn ibexa-btn--secondary" href="{{ path("ibexamailing_campaign_edit", {campaign: item.id}) }}">
                <span>{{ "campaign.tabs.edit"|trans }}</span>
            </a>
            <button type="button" class="btn btn-sm ibexa-btn ibexa-btn--secondary" data-bs-toggle="modal"
                    data-bs-target="#ibexamailingconfirmremovecampaignmodal">
                <span>{{ "campaign.tabs.delete"|trans }}</span>
            </button>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="ibexamailingconfirmremovecampaignmodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ "campaign.tabs.confirm_removal"|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ "campaign.tabs.delete_campaign_confirmation_1"|trans }}</p>
                        <p>{{ "campaign.tabs.delete_campaign_confirmation_2"|trans }}</p>
                        <ul>
                            <li>{{ "campaign.tabs.one_campaign"|trans }}1 Campaign</li>
                            <li>{{ item.mailings|length }} {{ "campaign.tabs.mailings_with_broadcast"|trans }}</li>
                        </ul>

                        <p>{{ "campaign.tabs.delete_campaign_note"|trans }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('ibexamailing_campaign_remove', {campaign: item.id}) }}" type="button"
                           class="btn btn-danger">{{ "campaign.tabs.confirm"|trans }}</a>
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{{ "campaign.tabs.cancel"|trans }}Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ibexamailing-button-actions float-right">
            {% if status == 'draft' %}
                <a class="btn btn-sm ibexa-btn ibexa-btn--secondary"
                   href="{{ path('ibexamailing_mailing_create', {campaign: item.id}) }}">
                    <span>{{ "campaign.tabs.create"|trans }}</span>
                </a>
            {% endif %}
            <a href="{{ url('ibexamailing_campaign_subscriptions', { campaign: item.id }) }}"
               class="btn btn-sm ibexa-btn ibexa-btn--secondary">
                <span>{{ "mailing.mailing_tabs.views"|trans ~ " " ~ "menu.campaign_menu.subscriptions"|trans|capitalize }}</span>
            </a>
        </div>
    {% endif %}
</div>
