{% set withRegistrations = withRegistrations is defined ? withRegistrations : true %}
{% set withStatus = withStatus is defined ? withStatus : true %}
{% import "@IbexaMailing/admin/common/registration_approbation_button.html.twig" as ApprobationButton %}
{% trans_default_domain 'ibexamailing' %}

<div class="tab-content ibexa-tab-content p-2">
    <table class="table ibexa-table c-table-view">
        <thead class="c-table-view__head">
        <tr class="ibexa-table__head-row c-table-view__row">
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">ID</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{ "generic.users.table.email"|trans }}</th>
            {% if withStatus %}
                <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{ "generic.users.table.status"|trans }}</th>
            {% endif %}
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.country"|trans }}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.origin"|trans }}</th>
            {% if currentMailingList is defined and currentMailingList.withApproval %}
                <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.approbation"|trans }}</th>
            {% endif %}

            {% if not withRegistrations %}
                <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.updated"|trans }}</th>
                <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.created"|trans }}</th>
            {% else %}
                <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.registrations"|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="ibexa-table__body c-table-view__body">
        {% for item in items %}
            <tr class="ibexa-table__row c-table-view-item">
                <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.id }}</td>
                <td class="ibexa-table__cell c-table-view-item__cell"><a
                            href="{{ path('ibexamailing_user_show', {user:item.id}) }}" data-toggle="popover"
                            title="{{ item.gender }} {{ item.firstname }} {{ item.lastName }}"
                            data-content="
                        {% if item.birthDate is not empty %}<p><strong>{{ "generic.users.table.birthdate"|trans }}</strong>: {{ item.birthDate|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date)|default('') }}</p>{% endif %}
                        {% if item.phone is not empty %}<p><strong>{{ "generic.users.table.phone"|trans }}</strong>: {{ item.phone }}</p>{% endif %}
                        {% if item.zipcode is not empty or item.city is not empty or item.city is not empty or item.state is not empty %}<p><strong>{{ "generic.users.table.location"|trans }}</strong>:{{ item.zipcode }} {{ item.city }} {{ item.state }}</p>{% endif %}
                        {% if item.jobTitle is not empty or item.company is not empty %}<p><strong>{{ "generic.users.table.job"|trans }}</strong>: {{ item.jobTitle }} {{ item.company }}</p>{% endif %}
                   "
                            data-html="true"
                            data-trigger="hover"
                    >{{ item.email }}</a></td>
                {% if withStatus %}
                    <td class="ibexa-table__cell c-table-view-item__cell">
                        <span class="badge text-bg-{{ item.statusStyle }}">{{ ("generic.users.status."~item.status)|trans }}</span>
                    </td>
                {% endif %}
                <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.country|country_name }}</td>
                <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.origin }}</td>
                {% if currentMailingList is defined %}
                    {% for registration in item.registrations %}
                        {% if registration.mailingList.id == currentMailingList.id %}
                            {% if currentMailingList is defined and currentMailingList.withApproval %}
                                <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ ApprobationButton.show(registration) }}</td>
                            {% endif %}
                            <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ registration.updated|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                            <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ registration.created|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                        {% endif %}
                    {% endfor %}
                {% elseif not withRegistrations %}
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.updated|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.created|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                {% endif %}
                {% if withRegistrations %}
                    <td class="ibexa-table__cell c-table-view-item__cell">
                        {% if item.registrations|length > 0 %}
                            <table class="table ibexa-table c-table-view p-2">
                                <thead class="c-table-view__head">
                                <tr class="ibexa-table__head-row c-table-view__row">
                                    <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{ "generic.users.table.mailing_list"|trans }}</th>
                                    <th align="center"
                                        class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{ "generic.users.table.approbation"|trans }}</th>
                                    <th align="center"
                                        class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{ "generic.users.table.updated"|trans }}</th>
                                    <th align="center"
                                        class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{ "generic.users.table.created"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody class="ibexa-table__body c-table-view__body">
                                {% for registration in item.registrations %}
                                    <tr class="ibexa-table__row c-table-view-item">
                                        <td class="ibexa-table__cell c-table-view-item__cell">
                                            <a href="{{ path('ibexamailing_mailinglist_show',{mailingList:registration.mailinglist.id}) }}">
                                                <img src="{{ asset("/bundles/ibexamailing/admin/images/16x16/mailinglist.png") }}"
                                                     class="mailing-icon"/>
                                                {{ registration.mailinglist.name }}
                                            </a>
                                        </td>
                                        <td align="center"
                                            class="ibexa-table__cell c-table-view-item__cell">{{ ApprobationButton.show(registration) }}</td>
                                        <td align="center"
                                            class="ibexa-table__cell c-table-view-item__cell">{{ registration.updated|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                                        <td align="center"
                                            class="ibexa-table__cell c-table-view-item__cell">{{ registration.created|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            {{ "common.list.users.no_registrations"|trans }}.
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>