{% extends '@IbexaMailing/admin/layout/pagelayout.html.twig' %}
{% trans_default_domain 'ibexamailing' %}
{% form_theme form with ['@ibexadesign/ui/form_fields.html.twig', _self ] %}

{% block _mailing_names_entry_label %}
    <label class="form-control-label">{{"mailing.edit.name"|trans}} {{ name }}</label>
{% endblock %}

{% block _mailing_locationId_row %}
    <label class="form-control-label">{{"mailing.edit.location"|trans}}</label>
    {{ form_widget(form) }}
    <p id="{{ id }}_name">
        {% if value > 0 and form.parent.vars.value.content is not null %}
            {{ ibexa_content_name(form.parent.vars.value.content) }}
        {% endif %}
    </p>
    <button data-target-id="#{{ id }}"
            data-target-name="#{{ id }}_name"
            type="button"
            class="btn btn-sm btn-primary js-ibexamailing-select-location-id"
            data-udw-config="{{ ez_udw_config('plop') }}"
    >
        {% if value > 0 %}{{"mailing.edit.change_content"|trans}}{% else %}{{"mailing.edit.select_content"|trans}}{% endif %}
    </button>
{% endblock %}

{% block ibexamailing_breadcrumb %}
    {% set items = [
        {'url':path("ibexamailing_dashboard_index"), 'value': 'Ibexa Mailing' },
        {'value': "mailing.edit.campaigns"|trans },
        {'value':  item.campaign.name },
        {'value': item.name },
    ] %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}
{% block ibexamailing_title %}
    <img src="{{ asset("/bundles/ibexamailing/admin/images/32x32/"~item.status~".svg") }}"
         class="mailing-icon"/> {{ item.name }}{% endblock %}

{% block ibexamailing_subtitle %}Edition{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {class:'col-11', ibexamailing:'mainform'}}) }}
    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block rightbar %}
    {% set sidebar_right = knp_menu_get('ibexamailing.menu.save_cancel', []) %}
    {{ knp_menu_render(sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'}) }}
{% endblock %}
