{% trans_default_domain 'ibexamailing' %}
<div class="item-tabs-content ibexa-header">
    <div class="ibexa-tabs">
        <ul class="nav nav-tabs ibexa-tabs__list ibexa-adaptive-items" role="tablist">
            <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item ibexa-tabs__tab--active" role="presentation">
                <a class="nav-link ibexa-tabs__link active" href="#ibexamailing-campaign-preview" data-bs-toggle="tab"
                   role="tab">{{ "mailing.mailing_tabs.mailing"|trans }}</a>
                <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path class="ibexa-svg-tab-corner-border"
                          d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                          stroke-width="2"></path>
                    <path class="ibexa-svg-tab-corner-inside"
                          d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                </svg>
            </li>
            <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                <a class="nav-link ibexa-tabs__link" href="#ibexamailing-content-preview" data-bs-toggle="tab"
                   role="tab">{{ "mailing.mailing_tabs.associated_content"|trans }}</a>
                <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path class="ibexa-svg-tab-corner-border"
                          d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                          stroke-width="2"></path>
                    <path class="ibexa-svg-tab-corner-inside"
                          d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                </svg>
            </li>
            <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                <a class="nav-link ibexa-tabs__link" href="#ibexamailing-mailings-preview" data-bs-toggle="tab"
                   role="tab">{{ "mailing.mailing_tabs.campaign"|trans }}</a>
                <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path class="ibexa-svg-tab-corner-border"
                          d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                          stroke-width="2"></path>
                    <path class="ibexa-svg-tab-corner-inside"
                          d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                </svg>
            </li>
            {% if item.broadcasts|length > 0 %}
                <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                    <a class="nav-link ibexa-tabs__link" href="#ibexamailing-mailings-broadcasts" data-bs-toggle="tab"
                       role="tab">{{ "mailing.mailing_tabs.broadcasts"|trans }}</a>
                    <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="ibexa-svg-tab-corner-border"
                              d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                              stroke-width="2"></path>
                        <path class="ibexa-svg-tab-corner-inside"
                              d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                    </svg>
                </li>
                <li class="nav-item ibexa-tabs__tab ibexa-adaptive-items__item" role="presentation">
                    <a class="nav-link ibexa-tabs__link" href="#ibexamailing-mailings-stats" data-bs-toggle="tab"
                       role="tab">{{ "mailing.mailing_tabs.stats"|trans }}</a>
                    <svg class="ibexa-tabs__tab-corner" width="44" height="50" viewBox="0 0 44 50" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="ibexa-svg-tab-corner-border"
                              d="M0.0436401 1H0.458984C11.8221 1 22.21 7.42007 27.2918 17.5836L43 49H0.0436401"
                              stroke-width="2"></path>
                        <path class="ibexa-svg-tab-corner-inside"
                              d="M0 49V1C14.8 0.600001 23.8333 10.8333 26.5 16L43 49H0Z"></path>
                    </svg>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content ibexa-tab-content">
        <div class="ibexamailing-ez-campaign-view tab-pane active p-3" role="tabpanel"
             id="ibexamailing-campaign-preview">
            {% include "@IbexaMailing/admin/mailing/details.html.twig" with { item: item} only %}
        </div>
        <div class="ibexamailing-ez-content-view tab-pane p-3" role="tabpanel" id="ibexamailing-content-preview">
            {{ preview|raw }}
        </div>

        <div class="ibexamailing-ez-mailings-view tab-pane p-3" role="tabpanel" id="ibexamailing-mailings-preview">
            {% include "@IbexaMailing/admin/campaign/details.html.twig" with { item: item.campaign} only %}
        </div>
        {% if item.broadcasts|length > 0 %}
            <div class="ibexamailing-ez-mailings-view tab-pane p-3" role="tabpanel"
                 id="ibexamailing-mailings-broadcasts">
                {% include "@IbexaMailing/admin/common/list/broadcasts.html.twig" with { items: item.broadcasts} only %}
            </div>
            <div class="ibexamailing-ez-mailings-view tab-pane p-3" role="tabpanel" id="ibexamailing-mailings-stats">
                {% include "@IbexaMailing/admin/common/list/broadcast_graphs.html.twig" with { items: item.broadcasts } %}
            </div>
        {% endif %}
    </div>
    <div class="ibexamailing-button-actions float-right mb-1">
        <a target="_blank"
           href="{{ url('_ibexamailing_ez_content_view', { locationId: item.location.id, contentId: item.content.id, mailingId: item.id, siteaccess: item.siteaccess }) }}"
           class="btn btn-sm btn-info ibexa-btn ibexa-btn--secondary">
            <span>{{ "mailing.mailing_tabs.views"|trans }}</span>
        </a>
        <a {% if workflow_can(item,'edit') %} href="{{ path("ibexamailing_mailing_edit", {mailing: item.id}) }}" {% else %} disabled {% endif %}
                class="btn btn-sm ibexa-btn ibexa-btn--secondary">
            <span>{{ "mailing.mailing_tabs.edit"|trans }}</span>
        </a>
        <a {% if workflow_can(item,'archive') %} href="{{ path("ibexamailing_mailing_archive", {mailing: item.id}) }}" {% else %} disabled {% endif %}
                class="btn btn-sm ibexa-btn ibexa-btn--secondary">
            <span>{{ "mailing.mailing_tabs.archive"|trans }}</span>
        </a>
        <a {% if workflow_can(item,'cancel') %} href="{{ path("ibexamailing_mailing_cancel", {mailing: item.id}) }}" {% else %} disabled {% endif %}
                class="btn btn-sm ibexa-btn ibexa-btn--secondary">
            <span>{{ "mailing.mailing_tabs.abort"|trans }}</span>
        </a>
    </div>
    <div class="ibexamailing-button-actions float-left">
        <button type="button" {% if not workflow_can(item,'test') %} disabled {% endif %} class="btn btn-sm ibexa-btn ibexa-btn--secondary"
                data-bs-toggle="modal" data-bs-target="#ibexamailingmailingtestmodal">
            <span>{{ "mailing.mailing_tabs.test"|trans }}</span>
        </button>
        <button type="button" {% if not workflow_can(item,'confirm') %} disabled {% endif %}
                class="btn btn-sm ibexa-btn ibexa-btn--secondary" data-bs-toggle="modal"
                data-bs-target="#ibexamailingmailingconfirmmodal">
            <span>{{ "mailing.mailing_tabs.confirm"|trans }}</span>
        </button>
    </div>
    <div class="modal fade ibexa-modal ibexa-modal--no-header-border" tabindex="-1" role="dialog"
         id="ibexamailingmailingtestmodal">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="{{ path("ibexamailing_mailing_test", {mailing: item.id}) }}"
                  method="post">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "mailing.mailing_tabs.test_mailing"|trans }}: {{ item.name }}</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Fermer"
                            data-original-title="Fermer" data-bs-original-title="Fermer" title="">
                        <svg class="ibexa-icon ibexa-icon--small-medium" aria-hidden="true">
                            <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ "mailing.mailing_tabs.report_mail1"|trans }}
                        <strong>{{ item.campaign.reportEmail }}</strong> {{ "mailing.mailing_tabs.report_mail2"|trans }}
                        .</p>
                    <p>{{ "mailing.mailing_tabs.add_cc"|trans|raw }}</p>
                    <label class="sr-only" for="ccEmailTest">{{ "mailing.mailing_tabs.email"|trans }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="email" name="cc" class="form-control" id="ccEmailTest"
                               placeholder={{ "mailing.mailing_tabs.email"|trans }}/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn ibexa-btn ibexa-btn--primary">{{ "mailing.mailing_tabs.send_test"|trans }}</button>
                    <button type="button" class="btn ibexa-btn ibexa-btn--secondary"
                            data-bs-dismiss="modal">{{ "mailing.mailing_tabs.cancel"|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade ibexa-modal ibexa-modal--no-header-border" tabindex="-1" role="dialog"
         id="ibexamailingmailingconfirmmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "mailing.mailing_tabs.confirm_sending"|trans }}: {{ item.name }}</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Fermer"
                            data-original-title="Fermer" data-bs-original-title="Fermer" title="">
                        <svg class="ibexa-icon ibexa-icon--small-medium" aria-hidden="true">
                            <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ "mailing.mailing_tabs.mailing_lists_count1"|trans }} {{ item.campaign.mailingLists|length }} {{ "mailing.mailing_tabs.mailing_lists_count2"|trans }}
                        :</p>
                    <ul>
                        {% for mailingList in item.campaign.mailingLists %}
                            <li>{{ mailingList.name }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ "mailing.mailing_tabs.mailing_list_reach"|trans }} {{ totalRecipients }}.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn ibexa-btn ibexa-btn--primary"
                       href="{{ path("ibexamailing_mailing_confirm", {mailing: item.id}) }}">{{ "mailing.mailing_tabs.confirm"|trans }}</a>
                    <button type="button" class="btn ibexa-btn ibexa-btn--secondary"
                            data-bs-dismiss="modal">{{ "mailing.mailing_tabs.cancel"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
