{% trans_default_domain 'ibexamailing' %}
{% extends "@IbexaMailing/eZViews/mailing_base.html.twig" %}

{% block preheader_message %}##FIRSTNAME## ##LASTNAME## (##EMAIL##){% endblock %}

{% block body %}
    <h2>{{ "ibexamailingfull.generic.hello"|trans }} ##FIRSTNAME## ##LASTNAME## (##EMAIL##)</h2>

    <p>{{ "ibexamailingfull.generic.generic_view"|trans }}</p>
    <hr/>
    <a href="https://www.code-rhapsodie.fr/">{{ "ibexamailingfull.generic.test_tracking_link"|trans }}</a><br/>
    <a href="https://www.ibexa.co/">{{ "ibexamailingfull.generic.ez_test_tracking_link"|trans }}</a><br/>
    <p><strong>{{ "ibexamailingfull.generic.mailing"|trans }}</strong>: {{ mailing.name }}</p>
    <p>
        <strong>{{ "ibexamailingfull.generic.associated_content"|trans }}</strong>: {{ ibexa_content_name(mailing.content) }}
    </p>
    <p><strong>{{ "ibexamailingfull.generic.campaign"|trans }}</strong>: {{ mailing.campaign.name }}</p>
    {% if mailing.campaign.content is not null %}
        <p>
            <strong>{{ "ibexamailingfull.generic.associated_content"|trans }}</strong>: {{ ibexa_content_name(mailing.campaign.content) }}
        </p>
    {% endif %}
    <hr/>

    <p>{{ "ibexamailingfull.generic.define_a_view1"|trans }}</p>
    <p>{{ "ibexamailingfull.generic.define_a_view2"|trans }}</p>
    <pre style="background: #aaa; padding: 10px">
content_view:
    ibexamailingfull:
        folder:
            template: ibexamailingfull\folder.html.twig
            match:
                Identifier\ContentType: [folder]
</pre>
    <hr/>
{% endblock %}
