{% trans_default_domain 'ibexamailing' %}
<header class="header row">
    <div class="col-2">
        <p class="text-center">
            <strong>Ibexa Mailing</strong>
        </p>
    </div>
    <div class="col-10 ibexa-page-header-wrapper">
        <div class="ibexa-breadcrums-wrapper">
            {{ breadcrumb|raw }}
        </div>
        <div class="ibexa-content-menu-wrapper">
            <form class="form-inline ibexamailing-search">
                {%  set search  = "layout.header.search"|trans %}
                <input class="ibexa-input ibexa-input--text form-control form-control mr-sm-2 btn-outline-primary" type="search" placeholder="{{ search }}">
            </form>
        </div>
        <div class="ibexa-header-wrapper d-flex justify-content-between">
            <div>
                <h1>{{ title|raw }}</h1>
                <h4>{{ subTitle|raw }}</h4>
            </div>
            <div>
                <ul class="ibexa-context-menu">
                    <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                        <a class="btn ibexa-btn ibexa-btn--primary ibexa-btn--cotf-create" href="{{ path('ibexamailing_campaign_create') }}">
                            <span>{{ "dashboard.create_new_campaign"|trans }}</span>
                        </a>
                    </li>
                    <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                        <a class="btn ibexa-btn ibexa-btn--secondary" href="{{ path('ibexamailing_mailinglist_index') }}">
                            <span>{{ "dashboard.see_mailing_lists"|trans }}</span>
                        </a>
                    </li>
                    <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                        <a class=" btn ibexa-btn ibexa-btn--secondary" href="{{ path('ibexamailing_user_index') }}">
                            <span>{{ "dashboard.see_users"|trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
