{% trans_default_domain 'ibexamailing' %}
{% set content = block('content') %}
{% set ibexamailing_title = block('ibexamailing_title') %}
{% set ibexamailing_subtitle = block('ibexamailing_subtitle') %}
{% set ibexamailing_breadcrumb = block('ibexamailing_breadcrumb') %}
{% set rightbar = block('rightbar') ?? '' %}

{% embed '@ibexadesign/ui/layout.html.twig' %}
    {% block content %}
        {% trans_default_domain 'ibexamailing' %}
        <div class="ibexamailing-app row"
             data-search-endpoint="{{ path('ibexamailing_dashboard_search_autocomplete') }}">
            <div class="container-fluid">
                {% include "@IbexaMailing/admin/layout/header.html.twig" with { title: ibexamailing_title, subTitle: ibexamailing_subtitle, breadcrumb: ibexamailing_breadcrumb } only %}
                <div class="content row">
                    <div class="col-2 sidebar">
                        <h2>{{"layout.pagelayout.campaigns"|trans}}</h2>
                        <div class="campaigns">
                            {{ knp_menu_render('ibexamailing.menu.campaigns', {template:"@IbexaMailing/admin/common/menu.html.twig"}) }}
                        </div>
                    </div>
                    {% if rightbar is empty %}
                        <div class="col-10 innercontent">
                            {{ content|raw }}
                        </div>
                    {% else %}
                        <div class="col-8 innercontent">
                            {{ content|raw }}
                        </div>
                        <div class="col-2 ez-context-menu">
                            {{ rightbar|raw }}
                        </div>
                    {% endif %}
                </div>
                {% include "@IbexaMailing/admin/layout/footer.html.twig" with {} only %}
            </div>
        </div>
    {% endblock %}
{% endembed %}
