{% extends '@ibexadesign/ui/layout.html.twig' %}
{% trans_default_domain 'ibexamailing' %}
{% set content = block('content') %}
{% set ibexamailing_title = block('ibexamailing_title') %}
{% set ibexamailing_subtitle = block('ibexamailing_subtitle') %}
{% set ibexamailing_breadcrumb = block('ibexamailing_breadcrumb') %}
{% set rightbar = block('rightbar') ?? '' %}

{% block content_tree %}
    <div class="ibexa-content-view ibexa-content-tree-container">
        <div class="ibexa-content-tree-container__root">
            <div class="m-tree" style="width: 320px; position: relative;">
                div class="toggle-wrapper">

                <div class="c-header toggle-button-menu">
                    <button class="ibexa-btn btn ibexa-btn--no-text ibexa-btn--tertiary c-header__toggle-btn">
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#caret-back"></use>
                        </svg>
                    </button>
                    <div class="c-header__name titre-nav-toggle">
                        <svg id="toggleSvg" class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#content-tree"></use>
                        </svg>
                        Ibexa Mailing
                    </div>
                </div>

                <div class="m-tree__scrollable-wrapper">
                    <ul class="c-list">
                        <li class="c-list-item c-list-item--has-sub-items c-list-item--is-expanded c-list-item--is-selected c-list-item--is-root-item">
                            <h2 class="c-list-item__row">
                                &nbsp;{{ "layout.pagelayout.campaigns"|trans }}</h2>
                            {{ knp_menu_render('ibexamailing.menu.campaigns', {template:"@IbexaMailing/admin/common/menu.html.twig"}) }}
                        </li>
                    </ul >
                </div>

            </div>
                <div class="m-tree__resize-handler"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_column %}
    {% trans_default_domain 'ibexamailing' %}
    <div class="ibexamailing-app ibexa-main-container__content-column ibexa-back-to-top-scroll-container"
         data-search-endpoint="{{ path('ibexamailing_dashboard_search_autocomplete') }}">
        <div class="container ibexa-back-to-top-anchor">
            {% include "@IbexaMailing/admin/layout/header.html.twig" with { title: ibexamailing_title, subTitle: ibexamailing_subtitle, breadcrumb: ibexamailing_breadcrumb } only %}
            <div class="content row">
                {% if rightbar is empty %}
                    <div class="innercontent">
                        {{ content|raw }}
                    </div>
                {% else %}
                    <div class="col-8">
                        {{ content|raw }}
                    </div>
                    <div class="col-4">
                        {{ rightbar|raw }}
                    </div>
                {% endif %}
            </div>
            {% include "@IbexaMailing/admin/layout/footer.html.twig" with {} only %}
        </div>
    </div>
{% endblock %}
