{% extends '@IbexaMailing/admin/layout/pagelayout.html.twig' %}
{% trans_default_domain 'ibexamailing' %}
{% form_theme form with ['@ibexadesign/ui/form_fields.html.twig', _self ] %}

{% block ibexamailing_breadcrumb %}
    {% set items = [
        {'url':path("ibexamailing_dashboard_index"), 'value': 'Ibexa Mailing' },
        {'url': path("ibexamailing_mailinglist_index"), 'value': "campaign.breadcrumb.mailing_lists"|trans },
        {'value': item.name },
    ] %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}
{% block ibexamailing_title %}
    <img src="{{ asset("/bundles/ibexamailing/admin/images/32x32/user.svg") }}"
         class="mailing-icon"/> {{ "mailing_list.import.title"|trans }}{% endblock %}
{% block ibexamailing_subtitle %}{{ "mailing_list.import.subtitle"|trans }}{% endblock %}

{% block content %}
    <p>{{"mailing_list.import.inject_users1"|trans}}</p>

    <p>{{"mailing_list.import.inject_users2"|trans}}:
        <small>{{"mailing_list.import.inject_users3"|trans}}</small>
    </p>
    <table class="table table-sm excel-example">
        <tr>
            <th>{{"generic.users.table.email"|trans}}</th>
            <th>{{"generic.users.table.firstname"|trans}}</th>
            <th>{{"generic.users.table.lastname"|trans}}</th>
            <th>{{"generic.users.table.gender"|trans}}</th>
            <th>{{"generic.users.table.birthdate"|trans}}</th>
            <th>{{"generic.users.table.phone"|trans}}</th>
            <th>{{"generic.users.table.zipcode"|trans}}</th>
            <th>{{"generic.users.table.city"|trans}}</th>
            <th>{{"generic.users.table.state"|trans}}</th>
            <th>{{"generic.users.table.country"|trans}}</th>
            <th>{{"generic.users.table.job_title"|trans}}</th>
            <th>{{"generic.users.table.company"|trans}}</th>
        </tr>
        <tr>
            <td>ibexamailing@code-rhapsodie.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>Mr.</td>
            <td>YYYY-MM-DD</td>
            <td>+1 415 218 318</td>
            <td>94111</td>
            <td>San Francisco</td>
            <td>California</td>
            <td>United States Of America</td>
            <td>CTO</td>
            <td>Code-Rhapsodie</td>
        </tr>
    </table>
    {{ form_start(form) }}
    {{ form_row(form.file) }}
    <hr/>
    {% if count is defined and count is not null %}
        <div class="success">
            <strong>{{ count }}</strong> {{"mailing_list.import.imported_users1"|trans}}{{ count > 1 ? 's':'' }} {{"mailing_list.import.imported_users2"|trans}}.
        </div>
    {% endif %}
    {% if error_list is defined and error_list is not null %}
        <div class="message-error">
            {% for errors in error_list %}
                <ul>
                    <li>
                        {{"mailing_list.import.line"|trans}} {{ loop.index }}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}

    <div class="ibexamailing-button-actions float-right">
        <button type="submit" class="btn ibexa-btn ibexa-btn--primary ibexa-btn--cotf-create">
            <span>{{"mailing_list.import.import_button"|trans}}</span>
        </button>
        <a href="{{ url('ibexamailing_mailinglist_show', { mailingList: item.id }) }}"
           class="btn ibexa-btn ibexa-btn--secondary">
            <span>{{ "mailing_list.import.view_mailing_list"|trans }}</span>
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
