{% extends "@IbexaMailing/admin/layout/pagelayout.html.twig" %}
{% trans_default_domain 'ibexamailing' %}

{% block ibexamailing_breadcrumb %}
    {% set items = [
        {'url':path("ibexamailing_dashboard_index"), 'value': 'Ibexa Mailing' },
        {'value': "campaign.breadcrumb.mailing_list"|trans },
    ] %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}
{% block ibexamailing_title %}<img src="{{ asset("/bundles/ibexamailing/admin/images/32x32/mailinglist.png") }}"
                                   class="mailing-icon" /> {{ "mailing_list.index.title"|trans }}{% endblock %}
{% block ibexamailing_subtitle %}{{ "mailing_list.index.subtitle"|trans }}{% endblock %}

{% block content %}
    <table class="table ibexa-table c-table-view">
        <thead class="c-table-view__head">
        <tr class="ibexa-table__head-row c-table-view__row">
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">ID</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head">{{"mailing_list.index.name"|trans}}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{"mailing_list.index.approbation"|trans}}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{"generic.users.table.updated"|trans}}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{"generic.users.table.created"|trans}}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center">{{"mailing_list.index.registrations_count"|trans}}</th>
            <th class="ibexa-table__header-cell c-table-view__cell c-table-view__cell--head text-center"></th>
        </tr>
        </thead>
        <tbody class="ibexa-table__body c-table-view__body">
        {% for item in items %}
            {% if is_granted('view', item) %}
                <tr class="ibexa-table__row c-table-view-item">
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.id }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell"><a
                                href="{{ path('ibexamailing_mailinglist_show', {'mailingList':item.id}) }}">{{ item.name }}</a>
                    </td>
                    {% set yesText = 'mailing_list.index.yes'|trans() %}
                    {% set noText = 'mailing_list.index.no'|trans() %}
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.withApproval ? yesText : noText }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.created|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.updated|format_datetime(ibexamailing.dateformat.date, ibexamailing.dateformat.date) }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">{{ item.registrations|length }}</td>
                    <td class="ibexa-table__cell c-table-view-item__cell text-center">
                        <a href="{{ path("ibexamailing_mailinglist_edit", {'mailinglist': item.id} ) }}"
                           class="edit-button">
                            <svg class="ez-icon" width="30" height="30">
                                <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#edit"></use>
                            </svg>
                        </a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <div class="ibexamailing-button-actions float-right">
        <a class="btn btn-sm btn-secondary" href="{{ path('ibexamailing_mailinglist_create') }}">
            <svg class="ez-icon" width="30" height="30">
                <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#create"></use>
            </svg>
            <span>{{"mailing_list.index.create_mailing_list"|trans}}</span>
        </a>
    </div>
{% endblock %}
