{% extends "@IbexaMailing/admin/layout/pagelayout.html.twig" %}
{% trans_default_domain 'ibexamailing' %}

{% block ibexamailing_breadcrumb %}
    {% set items = [
        {'url': path("ibexamailing_dashboard_index"), 'value': 'Ibexa Mailing' },
        {'value': "campaign.breadcrumb.users"|trans },
    ] %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}
{% block ibexamailing_title %}
    <img src="{{ asset("/bundles/ibexamailing/admin/images/32x32/user.svg") }}"
         class="mailing-icon"/> {{ "user.index.title"|trans }}{% endblock %}
{% block ibexamailing_subtitle %}{{ pager.nbResults }} {{ "user.index.subtitle"|trans }}{% endblock %}

{% block content %}
    {% include "@IbexaMailing/admin/common/list/users_filterer.html.twig" with {
        route: "ibexamailing_user_index",
        currentStatus: currentStatus,
        statuses: statuses
    } only %}
    {% include "@IbexaMailing/admin/common/list/users.html.twig" with {items:pager.currentPageResults} only %}
    <div class="pagerfanta">
        {{ pagerfanta(pager, 'ibexa') }}
    </div>
    <a class="btn btn-sm ibexa-btn ibexa-btn--secondary" href="{{ path('ibexamailing_users_export') }}">
        <span>{{"button.actions.export_users"|trans}}</span>
    </a>
{% endblock %}
