{% extends "@NovaeZMailing/admin/layout/pagelayout.html.twig" %}
{% trans_default_domain 'ezmailing' %}

{% block novezmailing_breadcrumb %}
    {% set items = [
        {'url': path("novaezmailing_dashboard_index"), 'value': 'Nova eZ Mailing' },
        {'value': "campaign.breadcrumb.users"|trans },
    ] %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}
{% block novezmailing_title %}
    <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/user.png") }}" class="nova-icon" /> {{ "user.index.title"|trans }}{% endblock %}
{% block novezmailing_subtitle %}{{ pager.nbResults }} {{ "user.index.subtitle"|trans }}{% endblock %}

{% block content %}
    {% if pager.nbResults > 0 %}
        {% include "@NovaeZMailing/admin/common/list/users_filterer.html.twig" with {
            route: "novaezmailing_user_index",
            limit: pager.maxPerPage,
            currentStatus: currentStatus,
            statuses: statuses
        } only %}
        {% include "@NovaeZMailing/admin/common/list/users.html.twig" with {items:pager.currentPageResults} only %}
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'ibexa') }}
        </div>
        <a class="btn btn-sm btn-success" href="{{ path('novaezmailing_users_export') }}">
            <svg class="ez-icon" width="30" height="30">
                <use xlink:href="/bundles/ibexaadminui/img/ibexa-icons.svg#catalog"></use>
            </svg>
            <span>{{"button.actions.export_users"|trans}}</span>
        </a>
    {% endif %}
{% endblock %}
